# Add all secrets here manually and apply them to cluster 
# before deploying application pods by: 

# 1. Replace secrets with real values
# 2. Rename file secrets.yml.example -> secrets.yml
# 3. Run kubectl apply -f path/to/these/secrets.yml


---

apiVersion: v1
kind: Secret
metadata:
  name: database-password
type: Opaque
data:
  password: <base64 password value>

---

apiVersion: v1
kind: Secret
metadata:
  name: migration-database-password
type: Opaque
data:
  password: <base64 password value>
  
---

apiVersion: v1
kind: Secret
metadata:
  name: access-token-private-key
type: Opaque
data:
  private-key: <base64 private key value>


